<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>KomikSun ID</title>
    <meta name="dicoding:email" content="alifyan.zulfa6661@gmail.com" />
    <meta name="dicoding:email" content="muhamadiksan351@gmail.com" />
    <meta name="dicoding:email" content="jonnesaritonang0@gmail.com" />
    <meta name="description" content="Komik" />
    <meta name="keywords" content="Komiksun" />
    <link rel="manifest" href="manifest.json" />
    <link rel="icon" href="./images/icon.ico" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css" />
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Skip to content</a>
    <app-bar></app-bar>
    <app-jumbotron id="jumbotron"></app-jumbotron>
    <main id="mainContent" class="px-3 mx-auto" tabindex="0"></main>

    <main>
      <search-bar></search-bar>
      <Komik></Komik>
    </main>

    <app-footer></app-footer>
  </body>
</html>
