/* list item menu kategori */
@media screen and (max-width: 320px) {
  .judul_utama {
    font-size: 1.1em;
  }

  .headline__title {
    font-size: 19px;
    font-weight: 500;
  }
}

@media screen and (min-width: 320px) {
  .judul_utama {
    font-size: 1.3em;
  }

  .headline__title {
    font-size: 21px;
    font-weight: 500;
  }

  .hero__title {
    font-weight: 100;
    font-size: 12px;
  }

  .hero__tagline {
    margin-top: 16px;
    font-size: 12px;
    font-weight: 100;
  }
}

@media screen and (min-width: 380px) {
  .headline {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .list-item {
    padding: 10px;
    margin: 20px 20px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 550px) {
  .judul_utama {
    font-size: 1.5em;
  }

  .headline__title {
    font-size: 28px;
    font-weight: 500;
  }

  .list-item {
    margin: 10px 30px;
    grid-template-columns: repeat(3, 1fr);
  }

  .detail {
    grid-template-columns: 1fr 1fr;
  }

  .detail {
    grid-template-columns: auto 1fr;
  }

  .detail .belawa__title {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .detail .belawa__overview {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}

@media screen and (min-width: 800px) {
  .headline__title {
    font-size: 32px;
    font-weight: 500;
  }

  .list-item {
    margin: 10px 30px;
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (min-width: 1000px) {
  .headline {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
